@media(max-width: 1200px){
    #loja #header #barra_pesquisa,
    #biblioteca #header #barra_pesquisa{
        display: none;
    }
}

@media(max-width: 1000px){
    #pag_home #header .user,
    #pag_home #header #barra_pesquisa{
        display: none;
    }
}

@media(max-width: 950px){
<<<<<<< HEAD
    #pag_home #header .conteudo {
        display: block;
    }

    #pag_home #header .conteudo figure {
        text-align: center;
    }

    #pag_home #header .conteudo #links {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    #pag_home #header{
        animation-name: none;
        background-image: url(../imagens/banner2.jpg);
    }
}


@media(max-width: 950px){
    #lancqd img{
        width: 300px;
        border-radius: 15px;
    }

    #lancamento div{
        display: block;
    }

    #fundu img{
        width: 300px;
        padding-bottom: 10px;
        border-radius: 15px;
    }

    .remove-cel{
        display: none;
    }


}

=======
    #loja #header #adoheader,
    #biblioteca #header #adoheader{
        display: none;
    }
}
>>>>>>> main

@media(max-width: 870px){
    #loja #header #figuradoheader,
    #biblioteca #header #figuradoheader{
        display: none;
    }
}
