*{
    font-family: 'Roboto', sans-serif;
}

#pag_home,
#loja,
#perfil1,
#biblioteca,
#amigos{
    margin: 0px;
    padding: 0px;
}

#pag_home #header{
    display: flex;
    justify-content: space-between;
    align-items: top;
    height: 115vh;
    background-repeat: no-repeat;
    background-size:cover;
    animation-name: banner;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    transition: all 0.5s;
}

#pag_home #header .conteudo,
#loja #header .conteudo,
#perfil1 #header .conteudo,
#biblioteca #header .conteudo,
#amigos #header .conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: rgba(128, 128, 128, 0.135);
}

#loja #header .conteudo,
#perfil1 #header .conteudo,
#biblioteca #header .conteudo,
#amigos #header .conteudo{
    background-color: #242020;
}

#links a{
    padding: 20px;
    padding-right: 50px;
}

#links .ativo,
#links a:hover{
    border-bottom: 5px solid white;
}

.conteudo .figura img{
    margin: -20px;
    margin-right: -90;
}


#pag_home #header #links a,
#loja #header #links a, 
#perfil1 #header #links a,
#loja #header #links a,
#biblioteca #header #links a,
#amigos #header #links a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}


#pag_home #header img{
    width: 45px;
}

#pag_home #header img,
#loja #header img,
#perfil1 #header img,
#biblioteca #header img,
#amigos #header img{
    width: 60px;
    border-radius: 40px;
}
#pag_home #header .user,
#loja #header .user,
#perfil1 #header .user,
#biblioteca #header .user,
#amigos #header .user{
    padding-right: 20px;
}

#pag_home #header .conteudo .logo,
#loja #header .conteudo .logo,
#perfil1 #header .conteudo .logo,
#biblioteca #header .conteudo .logo,
#amigos #header .conteudo .logo{
    width: 140px;
    padding-left: 20px;
}

#pag_home .lupa,
#loja .lupa,
#perfil1 .lupa,
#biblioteca .lupa,
#amigos .lupa{
    background: none;
    border: none;
    font-size: 20px;
    width: 200px;
    text-align: right;
}

#pag_home #header #barra_pesquisa,
#loja #header #barra_pesquisa,
#perfil1 #header #barra_pesquisa,
#biblioteca #header #barra_pesquisa,
#amigos #header #barra_pesquisa{
    background-color: white;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    border: 1px solid #242020;
    padding: 0px 15px;
}

#pag_home #header #barra_pesquisa input,
#loja #header #barra_pesquisa input,
#perfil1 #header #barra_pesquisa input,
#biblioteca #header #barra_pesquisa input,
#amigos #header #barra_pesquisa input{
    background-color: transparent;
    border: none;
    outline: none;
}

#pag_home #header #barra_pesquisa button img,
#loja #header #barra_pesquisa button img,
#perfil1 #header #barra_pesquisa button img,
#biblioteca #header #barra_pesquisa button img,
#amigos #header #barra_pesquisa button img{
    width: 35px !important;
}

@keyframes banner {
    0% {
        background-image: url(../imagens/fundoo.png);
    }
    20% {
        background-image: url(../imagens/fifaa.jfif)
    }
    40% {
        background-image: url(../imagens/guards.jpg);
    }
    60% {
        background-image: url(../imagens/fortni.jfif);
    }
    80% {
        background-image: url(../imagens/cyberpunk.jpg);
    }
    100% {
        background-image: url(../imagens/fundoo.png);
    }
}

#lanch3{
    background-color: #636363;
}
.lanc{
    color: white;
}
#lancamento{
    background-color: #242020;
}

#lancamento div{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.lanc{
    background: #423c3c;
    padding: 10px;
    width: 172px;
    margin: 20px;
}

#lancqd{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: auto !important;
    gap: 10px;
}

#lancqd .lc1:hover img{
    opacity: 0.5;
}

#lancqd .lc1:hover p{
    text-decoration: underline white;
}

#lancqd img {
    max-width: 97%;
    border-radius:30px 0px 30px 0px;
    margin-left: 25px;
    transition: all 0.5s;
    opacity: 1;
}

#lancqd p{
    color: white;
    padding-left: 30px;
}

.data{
    color: white;
}



#lanqpr img{
    width: 800px;
    border-radius: 15px;
    margin: 0px 15px;
    transition: all 0.5s;
    opacity: 1;
}

#lanqpr img:hover{
    opacity: 0.5;
}

#pag_home footer div,
#amigos footer div,
#biblioteca footer div{
    display: flex;
    background-color: #242020;
    height: 100px;
    align-items: center;
    border-top: 5px solid rgba(0, 0, 0, 0.457);
}

#pag_home footer div img,
#amigos footer div img,
#biblioteca footer div img{
    width: 65px;
    padding: 0px 20px;
}

#pag_home footer div img #logofot,
#amigos footer div img #logofot,
#biblioteca footer div img #logofot{
    padding-left: 500px;
}

#footer #logfoot img{
    padding-left: 750px;
    width: 110px;
}

#footer #logfoot{
    border: none;
}





/*----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

#lancqd p{
    color: white;
    padding-left: 30px;
}

.data{
    color: white;
}

#lanqpr img{
    width: 800px;
    border-radius: 15px;
    margin: 0px 15px;
}

#pag_home footer div,
 footer div{
    display: flex;
    background-color: #242020;
    height: 100px;
    align-items: center;
    border-top: 5px solid rgba(0, 0, 0, 0.457);
}

#pag_home footer div img,
#perfil1 footer div img{
    width: 65px;
    padding: 0px 20px;
}

#pag_home footer div img #logofot,
#perfil1 footer div img #logofot{
    padding-left: 500px;
}

#footer #logfoot img,
#perfil1 #logofor img{
    padding-left: 750px;
    width: 110px;
}

#footer #logfoot{
    border: none;
}

/* Loja */


/*----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Loja */

#loja{
    margin: 0px;
    padding: 0px;
}

#loja header #header{
    height: 90px;
    background-color: blue;
}

#loja main #page{
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

#loja main #page #sidebar{
    background-color: #2d2828;
}

#loja main #page #sidebar p{
    color: white;
    text-align: center;
}

#loja main #page #sidebar .linha{
    margin: 0px 5%;
    height: 2px;
    width: 90%;
    background-color: #636363;
    border-radius: 50%;
}

#loja .retangulo{
    background-color: #636363;
    height: 8%;
    width: 100px;
}

#loja footer div{
    display: flex;
    background-color: #242020;
    height: 100px;
    align-items: center;
}

#loja footer div img{
    width: 65px;
    padding: 0px 20px;
}

#loja #jogos .itens .item,
#loja #jogos .itensdois .itemdois,
#loja #jogos .itenstres .itemtres,
#loja #jogos .itensum .itemum,
#loja #jogos .itens .item {
    height: 200px !important;
}


#loja .retangulo{
    background-color: #636363;
    height: 8%;
    width: 100px;
}

#loja footer div{
    display: flex;
    background-color: #242020;
    height: 100px;
    align-items: center;
}

#loja footer div img{
    width: 65px;
    padding: 0px 20px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
/* Bibilioteca */

#biblioteca *{
    margin: 0px;
    padding: 0px;
}

#biblioteca #top h4{
    padding: 20px;
}
.amigon{
    background-color: #1E1E1E;
}

.amigoff{
    background-color: #1E1E1E;
}

#fundo {
    background-image: url(../altino/img/ss_1bd99270dcbd4ff9fe9c94b0d9c8ffc50ebb42c7.1920x1080.jpg);
    background-size: cover;
    background-position: center center;
    width: 98.5vw;
    height: 104vh;
}

#jogos{
    background-color: #2d2828;
}

#jogos h4{
    color: white;
    font-size: 1em;
    padding: 20px;
}

#jogos :hover h4{
    color: white;
    font-size: 1.2em;
    padding: 15px;
    cursor: pointer;
    transition: all 1s;
    margin: 24.5px;
}

#jogos .itens .item,
#jogos .itensdois .itemdois,
#jogos .itenstres .itemtres,
#jogos .itensum .itemum{
    height: 350px;
    border-radius: 20%;
    background-position: 50% 10%;
    cursor: pointer;
    transition: all 1s;
    opacity: 0.5;
}

#jogos .itens .item:hover,
#jogos .itensum .itemum:hover,
#jogos .itensum .itemum:hover,
#jogos .itensdois .itemdois:hover,
#jogos .itenstres .itemtres:hover{
    opacity: 1;
    transform: scale(1.1);
}

#jogos #tfdois{
    background-position: 50% 35%;

}

#jogos #granny,
#jogos #totalwar{
    background-position: 50% 45%;
}

#jogos #vrising{
    background-position: 50% 65%;
}

#jogos .itens,
#jogos .itensum,
#jogos .itensdois,
#jogos .itenstres{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 25px;
}

#jogos .itens .item,
#jogos .itensum .itemum,
#jogos .itensdois .itemdois,
#jogos .itenstres .itemtres{
    background-repeat: no-repeat;
    background-size: 100%;
    width: 250px;
    height: 250px;
}

#loja #jogos .itens .item,
#loja #jogos .itensdois .itemdois,
#loja #jogos .itenstres .itemtres,
#loja #jogos .itensum .itemum,
#loja #jogos .itens .item {
    height: 200px;
    width: 200px;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------------------------------- */


#amigospg h4{
    color: white;
    font-size: 1.2em;
    padding: 10px;
}
#amigospg #online h4{
    padding-left: 25px;
}

#amigospg{
    background-color: #242020;
    padding: 10px;
    height: 45pc;
}

#amigospg #amigosonline{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 200px;
    width: 500px;
    gap: 20px;
    padding: 20px;
    border-radius: 80px;
}

.amigon{
    background-repeat: no-repeat;
    background-position:50% 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    border: 2px solid black;
}

.amigonp{
    background-repeat: no-repeat;
    position:relative;
    bottom: 70px;
    right: 17px;
    width: 16px;
    height: 16px;
    margin: 0px;
}

.amigoff{
    background-repeat: no-repeat;
    background-position:50% 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    border: 2px solid black;
}

#amigospg #amigosoff{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 200px;
    width: 1020px;
    gap: 20px;
    padding: 20px;
    border-radius: 80px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
#perfilpg{
    background-color: #1E1E1E;
    margin: 0px;
    padding: 0px;
}

#perfil h3{
    color: white;
    font-size: 1em;
    padding: 20px;
}


#perfil1 :hover h4{
    color: white;
    font-size: 1.2em;
    padding: 15px;
    cursor: pointer;
    transition: all 1s;
    transform: scale(1);
}

#perfil1 .itens {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
}

#perfil1 .itens .item,
#perfil1 .itensum .itemum{
    height: 350px;
    border-radius: 20%;
    background-position: center center;
    cursor: pointer;
    transition: all 1s;
    opacity: 0.5;
}

#perfil1 .itens .item:hover,
#perfil1 .itensum .itemum:hover,
#perfil1 .itensum .itemum:hover{
    opacity: 1;
    transform: scale(1.1);
}

#perfil1 .itensum{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 25px;
}

#jogos .itens .item,
#jogos .itensum .itemum{
    background-repeat: no-repeat;
    background-size: 100%;
}

#games h3{
    background-color: #636363;
}

.forms-bio input{
    height: 200px;
    width: 300px;
    margin: 15px;
    border-radius: 20px;
    background-color: #414141;
}

#bio h3{
    font-size: 3em;
    text-align: start;
}

.perfilimg{
    background-repeat: no-repeat;
    background-position:50% 30%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    border: 2px solid black;
}
